<div id="loginpostform">
    <form hx-post="/postlogin" class="space-y-4">
        <input type="email"
               placeholder="Email ID"           
               id="email"
               name="email"
               class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
        >
        <input type="password"
               placeholder="Password"
               id="password"
               name="password"
               class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500"
        >
        <input type="submit" 
               value="login"
               class="w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
        >
        <button
            hx-get="/getforgotpassword"
            hx-target="#loginpostform"
            hx-swap="outerHTML"
            class="w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
        >
            forgot password
        </button>
    </form>
    <!-- {{if .is2FAEnabled}}
        <form hx-post="/check6digitcode">
            <input
                placeholder="enter 6 digit code"
                name="check2FA"
                id="check2FA"
            >
            <input type="submit" value="verfiy">
        </form>
    {{end}} -->
    <br>
    <button   
            hx-get="/getregister"
            hx-target="#loginpostform"
            hx-swap="outerHTML"
            class="w-full bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
        >
            don't have account ? register
    </button>
</div>

