<div id="getportcheckerform-form" class="flex flex-col items-center justify-center h-screen">
    <h1 class="mb-4"><b>Reverse lookup : </b>get host from IP addres</h1>

    <form hx-post="/reverselookup" 
          hx-target="#result-div"
          hx-swap="outerHTML"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-sm"
    >
        <div class="mb-4">
            <input name="ipadd" id="ipadd" 
                   placeholder="Enter IP Address " 
                   type="text" 
                   required
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        </div>
        <div class="flex items-center justify-between">
            <input type="submit" value="reverse lookup" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </div>
    </form>

    <div id="result-div">
        
    </div>
</div>
