<!DOCTYPE html>
<li class="py-2 flex items-center justify-between border border-black p-2 rounded mb-2"
    id="task-{{.ID.Hex}}"
>
    <div class="flex items-center space-x-2"
         id="currtask"    
    >
        <span class="text-gray-800 text-3xl">{{.TaskValue}}</span><br>
        <p>{{.TaskDate}}</p>
    </div>
    <!-- Delete Button -->
    <div>
        <!-- hx-target="#currtask" -->
        <button class="text-white bg-black p-2 border rounded hover:text-red-700 focus:outline-none" 
                hx-trigger="click"
                hx-get="/update/{{.ID.Hex}}"
                hx-target="#task-{{.ID.Hex}}"
                hx-swap="outerHTML"
        >
            update
        </button>

    </div>
    <div>
        <button class="text-white bg-black p-2 border rounded hover:text-red-700 focus:outline-none" 
                hx-target="#task-{{.ID.Hex}}"
                hx-swap="delete"
                hx-delete="/delete/{{.ID.Hex}}"
        >
            Delete
        </button>
    </div>
    
</li>